/*  Element selector */
body {
    background-color: #a8e7d2; /* Page background color */
    font-family: 'Segoe UI';
    font-size: 18px; 
    line-height: 1.6;
    margin: 40px;
}

/* ID selector */
#header {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
